$value-color:              #FFF;
$background-color:         #8fb347;
$background-error-color:   #ad3b0e;
$background-passed-color:  #8fb347;
$background-pending-color:  #47bbb3;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

.widget-semaphore{

  background-color: $background-color;
  vertical-align: top;

  img {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 30px;
    opacity: 0.05;
  }

  .title {
    color: $title-color;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    text-align: center;
    display: block;
    color: $label-color;
    font-size: 24px;
    word-wrap: break-word;
  }

  .value {
    text-align: center;
    display: block;
    font-weight: 600;
    color: $value-color;
    font-size: 24px;
    word-wrap: break-word;
    width: 300px;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

  &.failed {
    background-color: $background-error-color;
  }

  &.pending {
    background-color: $background-pending-color;
  }

  &.passed {
    background-color: $background-passed-color;
  }

}
